@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font: 112.5%/1.45em georgia, serif, sans-serif;
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  /* background-color: #000; */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: hsla(0, 0%, 0%, 0.8);
  font-family: georgia, serif;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}
h6 {
  font-family: Staatliches;
  font-weight: 400;
  font-size: 22.16px;
  margin-bottom: 0.3em;
}
p {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 20.16px;
  line-height: 1.4;
}
.sm-word-wrap {
  position: relative;
  white-space: pre-line;
}
.home,
.services,
.products,
.sign-up {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}
.services {
  background-image: url("/images/img-2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.products {
  background-image: url("/images/img-1.jpg");
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.sign-up {
  background-image: url("/images/img-8.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}
video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}
.hero-container {
  /*   background: url("../images/BASILISCUS_ILUSTRACION_TRANSPARENTE.png")
  center center/cover no-repeat; */
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
  /* agregamos position absolute antes relative */
  position: relative;
}
.hero-container > h1 {
  font-size: 70px;
  margin-top: -100px;
  margin-bottom: 0.75em;
  color: #a9112a;
  -webkit-text-stroke: 2px black;
  padding-top: 5em;
}
.for-mobil {
  display: none;
}
.hero-container > p {
  margin-top: 1.75em;
  color: #fff;
  font-size: 32px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.hero-btns {
  margin-top: 32px;
}
.hero-btns .btn {
  margin: 6px;
}
.fa-play-circle {
  margin-left: 4px;
  -webkit-text-stroke-width: 1px;
  /* -webkit-text-stroke-color: orange; */
  background-color: transparent;
}
/* .hero {
  position: relative;
  width: 55vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../images/BASILISCUS_ILUSTRACION_TRANSPARENTE.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  filter: brightness(60%);
}
.hero-content {
  position: relative;
}
 */
/* media queries */

.hero-container > p {
  color: #877c86;
  font-weight: bolder;
  -webkit-text-stroke: 1px black;
}
@media screen and (max-width: 960px) {
  .hero-container > h1 {
    font-size: 70px;
    margin-top: -150px;
  }
}
@media screen and (max-width: 768px) {
  .hero-container > h1 {
    font-size: 3em;
    margin-top: -100px;
  }
  .hero-container > p {
    font-size: 30px;
  }
  .btn-mobile {
    display: block;
    text-decoration: none;
  }
  .btn {
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  .hero {
    width: 100vw;
    height: 100vh;
  }
  .hero-container > h1 {
    font-size: 2em;
    margin-top: -100px;
    padding-top: 0em;
  }
}
@media only screen and (max-width: 360px) {
  .hero-container > p {
    font-size: 24px;
    display: none;
  }
}
